/*Pricing Page
------------------------------------*/
/*Pricing Head*/
.no-space-pricing [class^="col-"],
.no-space-pricing [class*=" col-"] {
	padding: 0;
}
.pricing {
	position:relative;
	border-radius:3px;
	margin-bottom:15px;
}

.pricing:hover h4 {
	color:#74C52C;
}
.pricing-head {
	text-align:center;
}
.pricing h3,
.pricing h4 {
	margin:0;
	line-height:normal;
	font-weight:bold;
}
.pricing p {
	padding-top: 10px;
	font-size: 11px;
}
.pricing-head h3 span, 
.pricing-head h4 span {
	display:block;
	margin-top:5px;
	font-size:12px;
	font-style:italic;
}
.pricing-head h3 {
	color:#fafafa;
	padding:12px 0;
	font-size:35px;
	font-family:Arial;
	background:#74C52C;
	border-radius:3px 3px 0 0;
	text-shadow:0 1px 0 #32a20f;
}
.pricing-head h4 {
	color: #888;
	padding:5px 0;
	font-size:70px;
	text-shadow:0 1px 0 #fff;
	border-bottom:solid 1px #f5f9e7;
}
.pricing-head h4 i {
	top:-8px;
	font-size:28px;
	font-style:normal;
	position:relative;
}
.pricing-head h4 span {
	top:-10px;
	font-size:14px;
	font-style:normal;
	position:relative;
}
	
/*Pricing Content*/

.pricing-content  {
	margin-bottom: 0px;
}
.pricing-content li {
	color:#888;
	font-size:12px;
	padding:7px 15px;
	border-bottom:solid 1px #f5f9e7;
}
.pricing-content li i {
	color:#3048A0;
	font-size:16px;
	margin-right:5px;
	position:relative;
}

/*Pricing Footer*/
.pricing-footer {
	color:#777;
	font-size:11px;
	line-height:17px;
	text-align:center;
	padding:0 20px 19px;
	border-radius:0 0 3px 3px;
}

/*Pricing Active*/
.price-active h4 {
	color:#74C52C;
}

/*Pricing Extra*/

 .bg-color {
	background-color: #f9f9f9;	
}
.no-space-pricing {
	padding: 0 15px;
}

.sticker-right,
.sticker-left {
  	color: #fff;
	width: 150px;
	padding: 5px;
	font-size: 13px;
	font-weight: bold;
	font-family: Arial;
	position: absolute;
	text-align: center;
	letter-spacing: 2px;
	}

 .sticker-right {
    top: 13px;
    right: -49px;
    background: rgba(231, 76, 60, 1);
    transform: rotate(45deg);   
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
 .sticker-left {
    top: 9px;
    left: -48px;
   	background: rgba(116, 197, 44, 1);
    transform: rotate(-45deg);   
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

/*Pricing Table Mega v3
------------------------------------*/
.pricing-mega-v3 .price-active,
.pricing-mega-v3 .pricing:hover {
	margin-top: 0;
}
.pricing-mega-v3 .pricing {
	border-radius: 3px !important;
	box-shadow: none;
}
.pricing-mega-v3 .pricing-content {
	border: 1px solid #eee;
	border-left: none;
}
.pricing-mega-v3 .hidden-area  {
	margin-top: 76px;
}
.pricing-mega-v3  .hidden-area:hover {
	margin-top: 76px;
}
.pricing-mega-v3 .pricing-head h3 {
	font-size: 28px;
	min-height: 76px;
	font-weight: normal !important;
	border-left: 1px solid #eee;
}

.pricing-mega-v3  h4 {
	color: #888;
	min-height: 100px;
	border-top: 1px solid #eee ;
	border-right: 1px solid #eee ;
 	font-weight: normal !important;
}
.pricing-mega-v3 .pricing h5 {
	color: #888;
	font-size: 20px;
	padding-left: 5px;
	padding: 30px 0 0 7px;
}
.pricing-mega-v3 .block h5 {
	visibility: hidden;
}
.pricing-mega-v3 .pricing-head h4 span,
.pricing-mega-v3 .pricing-content li span,
.padding-mega-v3 .pricing-head .price span {
	display: block; 
	padding: 15px 0px 0px;
}
.pricing-mega-v3 .hidden-area .pricing-content:nth-child(2) {
	margin-bottom: 42px;
}
.pricing-mega-v3 .hidden-area .pricing-head h4 {
	font-size: 28px;
	padding: 34px 0 34px 15px;
	border-left: 1px solid #eee; 
}
.pricing-mega-v3 .hidden-area:hover .pricing-head h4 {
	color: #888;
}  
.pricing-mega-v3 .hidden-area .pricing-content {
	border-left: 1px solid #eee;
}
.pricing-mega-v3 .hidden-area .price {
	text-align: left;
	padding-left: 15px;
}
.pricing-mega-v3 .block .pricing-content li i {
	font-size: 13px;
}
.pricing-mega-v3 .pricing-content li {
	padding: 10px;
	font-size: 12px;
	text-align: left;
	min-height: 41px;
 }
 .pricing-mega-v3 .block .pricing-content li {
	text-align: center;
}
.pricing-mega-v3 .btn-u {
	border: 1px solid #fff;
	border-bottom: none;
	padding: 8px 0;
}
.pricing-mega-v3 .btn-group .dropdown-menu {
	margin: 0;
	border: 0;
	width: 100%;
	background: #3048A0;
	border-color: #eee;
	border: 1px solid #fff;
	border-top: none;
	margin-top: 40px;
	text-align: center;
}
.pricing-mega-v3 .btn-group .dropdown-menu li a {
	color: #fff;
}
.pricing-mega-v3 .btn-group .dropdown-menu li a:hover { 
	background: #5fb611;
}
.pricing-mega-v3 .btn-group-justified {
 	display: block;
}


/* Devices (Desktop Mode) */
@media (min-width: 992px) and (max-width: 1200px) {
	 .sticker-right {
		top: 10px;
	    right: -58px;
	    font-size: 10px;
	    padding: 3px;
	}	
	 .sticker-left {
		top: 10px;
	    left: -58px;
	    font-size: 10px;
	    padding: 3px;
	}
}

/* Medium Devices (Desktops, 992px and less) */
@media (max-width: 991px) {
	/*Pricing Page*/
	.price-active,
	.pricing:hover {
		margin-top: 0;
	}
	.no-space-pricing [class^="col-"],
	.no-space-pricing [class*=" col-"] {
		padding: 10px;
	}
	.pricing-mega-v3 .pricing h4, 
	.pricing-mega-v3 .pricing h3, 	
	.pricing-mega-v3 .pricing-content {
		border-left: 1px solid #eee;
	}	
	
	.pricing-mega-v3 .block h5 {
		text-align: center;
		visibility: visible;
	}
	/*End Pricing Page*/
}