/*Pricing Page
------------------------------------*/
/*Pricing Head*/
.no-space-pricing [class^="col-"],
.no-space-pricing [class*=" col-"] {
	padding: 0;
}
.pricing-zoom .pricing {
	position:relative;
	border-radius:3px;
	margin-bottom:15px;
	box-shadow:0 0 5px #eee;
}
.pricing-zoom .pricing:hover {
	box-shadow:0 0 15px #b5b5b5;
}
.pricing-zoom .pricing:hover h4 {
	color:#74C52C;
}
.pricing-zoom .pricing-head {
	text-align:center;
}
.pricing-zoom .pricing h3,
.pricing-zoom .pricing h4 {
	margin:0;
	line-height:normal;
	font-weight:bold;
}
.pricing-zoom .pricing p {
	padding-top: 10px;
	font-size: 11px;
}
.pricing-zoom .pricing-head h3 span, 
.pricing-zoom .pricing-head h4 span {
	display:block;
	margin-top:5px;
	font-size:12px;
	font-style:italic;
}
.pricing-zoom .pricing-head h3 {
	color:#fafafa;
	padding:12px 0;
	font-size:35px;
	font-family:Arial;
	background:#74C52C;
	border-radius:3px 0 0 3px;
	text-shadow:0 1px 0 #32a20f;
}
.pricing-zoom .pricing-head h4 {
	color: #888;
	padding:5px 0;
	font-size:70px;
	text-shadow:0 1px 0 #fff;
	border-bottom:solid 1px #f5f9e7;
}
.pricing-zoom .pricing-head h4 i {
	top:-8px;
	font-size:28px;
	font-style:normal;
	position:relative;
}
.pricing-zoom .pricing-head h4 span {
	top:-10px;
	font-size:14px;
	font-style:normal;
	position:relative;
}
	
/*Pricing Content*/

.pricing-zoom .pricing-content  {
	margin-bottom: 0px;
}
.pricing-zoom .pricing-content li {
	color:#888;
	font-size:12px;
	padding:7px 15px;
	border-bottom:solid 1px #f5f9e7;
}
.pricing-zoom .pricing-content li i {
	color:#3048A0;
	font-size:16px;
	margin-left:5px;
	position:relative;
}

/*Pricing Footer*/
.pricing-zoom .pricing-footer {
	color:#777;
	font-size:11px;
	line-height:17px;
	text-align:center;
	padding:0 20px 19px;
	border-radius:0 3px 3px 0;
}

/*Pricing Active*/
.pricing-zoom .price-active,
.pricing-zoom .pricing:hover {
	z-index:9;
	margin-top: -15px;
}
.pricing-zoom .price-active h4 {
	color:#74C52C;
}

/*Pricing Extra*/

.pricing-zoom .bg-color {
	background-color: #f9f9f9;	
}
.pricing-zoom .no-space-pricing {
	padding: 0 15px;
}

.pricing-zoom .sticker-right,
.pricing-zoom .sticker-left {
  	color: #fff;
	width: 150px;
	padding: 5px;
	font-size: 13px;
	font-weight: bold;
	font-family: Arial;
	position: absolute;
	text-align: center;
	letter-spacing: 2px;
	}

 .pricing-zoom .sticker-right {
    top: 13px;
    left: -49px;
    background: rgba(231, 76, 60, 1);
    transform: rotate(45deg);   
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
 .pricing-zoom .sticker-left {
    top: 9px;
    right: -48px;
   	background: rgba(116, 197, 44, 1);
    transform: rotate(-45deg);   
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

/*Pricing Zoom  
------------------------------------*/

.pricing-zoom .pricing:hover {
	-webkit-transition:box-shadow 0.3s ease-in-out;
	-moz-transition:box-shadow 0.3s ease-in-out;
	-o-transition:box-shadow 0.3s ease-in-out;
	transition:box-shadow 0.2s ease-in-out;
}
.pricing-zoom .pricing-head h4 {
	background: url("../../img/breadcrumbs.png")
	repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.pricing-zoom .price-active .pricing-head h4,
.pricing-zoom .pricing:hover .pricing-head h4 {
	padding: 15px 0;
	font-size: 80px;
	-webkit-transition:color 0.5s ease-in-out;
	-moz-transition:color 0.5s ease-in-out;
	-o-transition:color 0.5s ease-in-out;
	transition:color 0.5s ease-in-out;
}

/* Devices (Desktop Mode) */
@media (min-width: 992px) and (max-width: 1200px) {
	 .sticker-right {
		top: 10px;
	    left: -58px;
	    font-size: 10px;
	    padding: 3px;
	}	
	 .sticker-left {
		top: 10px;
	    right: -58px;
	    font-size: 10px;
	    padding: 3px;
	}
}

/* Medium Devices (Desktops, 992px and less) */
@media (max-width: 991px) {
	/*Pricing Page*/
	.pricing-zoom .price-active,
	.pricing-zoom .pricing:hover {
		margin-top: 0 ;
	}
	.no-space-pricing [class^="col-"],
	.no-space-pricing [class*=" col-"] {
		padding: 10px;
	}
	.pricing-zoom .price-active .pricing-head h4,
	.pricing-zoom .pricing:hover .pricing-head h4 {
		padding: 5px 0;
		font-size: 70px;
	}
	
}