/*Job-Description
------------------------------------*/
.job-description {
	position: relative;
	background: #f9f9f9;
}

/*Visit*/
.job-description .visit {
	text-align: center;
	margin-bottom: 30px;
}

.job-description .visit h2 {
	font-size: 25px;
	text-transform: uppercase;
}

/*Left-Inner*/
.job-description .left-inner {
	padding: 20px;
	background: #fff;
	position: relative;
}

.job-description .position-top {
	top: 20px;
	right: 20px;
	position: absolute;
}

.job-description .social-icons {
	float: left;
}

.job-description .position-top i {
	top: 5px;
	color: #777;
	font-size: 18px;
	min-width: 28px;
	margin-left: 6px;
	padding: 5px 4px;
	position: relative;
	text-align: center;
}

.job-description .position-top i:hover {
	color: #fff;
	background: #585f69;
}

/*Circle in Responsive*/
@media (max-width: 550px) {
	.job-description .position-top {
		display: none;
	}
}

.job-description .left-inner img {
	float: left;
	width: 80px;
	height: 80px;
	padding: 3px;
	margin: 0 10px 10px 0;
	border: 1px solid #eee;
}

.job-description .left-inner h3 {
	margin: 0 0 5px;
}

.job-description .left-inner p.hex {
	margin-bottom: 5px;
}

.job-description .star-vote {
	margin-left: 5px;
}

.job-description .star-vote li {
	padding: 0;
}

/*Progresses*/
.job-description .progression span {
	float: left;
	width: 150px;
	margin: -8px 15px 0 0;
}

/*Overview*/
.job-description .overview i {
	color: #fff;
	float: left;
	min-width: 38px;
	font-size: 20px;
	padding: 10px 3px;
	text-align: center;
	margin-right: 10px;
	background: #585f69;
}

/*Colorful-ul*/
.job-description .colorful-ul li a {
	color: #3048A0;
}

/*Copyright-v2
------------------------------------*/
.copyright-v2 {
	padding: 10px 0;
	background: #f9f9f9;
}
